In [126]:
import pandas as pd
from sklearn import feature_extraction
tab=pd.read_csv("C:/Users/lenovo/Downloads/dstrIPC_1_2014.csv")
tab=tab[tab["District"]!="Total"]
g1=tab.groupby(["States/UTs"],as_index=False)[tab.columns.values].sum()
g2 = g1.drop('States/UTs', 1)
g1

,States/UTs,Year,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Custodial Rape,Custodial_Gang Rape,Custodial_Other Rape,...,Offences promoting enmity between different groups,Promoting enmity between different groups,"Imputation, assertions prejudicial to national integration",Extortion,Disclosure of Identity of Victims,Incidence of Rash Driving,HumanTrafficking,Unnatural Offence,Other IPC crimes,Total Cognizable IPC crimes
0,A&N Islands,6042,8,11,4,2,32,0,0,0,...,1,1,0,0,0,198,0,2,141,746
1,Andhra Pradesh,40280,1175,1540,52,1,961,0,0,0,...,21,21,0,276,0,14653,2,1,44187,114604
2,Arunachal Pradesh,38266,86,48,4,0,83,4,0,4,...,0,0,0,121,0,102,0,0,720,2843
3,Assam,56392,1451,1142,57,14,1980,0,0,0,...,0,0,0,1226,0,3202,68,0,29212,94337
4,Bihar,92644,3403,4379,201,463,1127,0,0,0,...,0,0,0,972,0,3485,44,5,75799,177595
5,Chandigarh,2014,24,33,6,4,59,0,0,0,...,0,0,0,6,0,277,0,4,480,3221
6,Chhattisgarh,56392,998,716,29,0,1436,0,0,0,...,3,3,0,74,0,7759,43,22,21897,58200
7,D&N Haveli,2014,4,1,2,0,5,0,0,0,...,0,0,0,10,0,34,0,0,30,277
8,Daman & Diu,4028,7,6,0,3,2,0,0,0,...,0,0,0,3,0,25,0,0,37,233
9,Delhi UT,38266,586,770,58,988,2096,0,0,0,...,13,13,0,235,1,8760,13,194,21396,155654
10,Goa,6042,34,42,6,0,95,0,0,0,...,1,1,0,18,0,607,14,0,721,4466
11,Gujarat,82574,1124,756,57,3,841,0,0,0,...,11,10,1,185,0,29677,3,22,52810,131385
12,Haryana,48336,1106,783,65,9,1174,0,0,0,...,3,3,0,207,1,6202,9,143,21923,79947
13,Himachal Pradesh,30210,130,63,9,0,283,0,0,0,...,0,0,0,5,0,2336,1,12,5997,14160
14,Jammu & Kashmir,60420,156,484,18,2,331,0,0,0,...,0,0,0,0,0,5003,0,30,8135,23848
15,Jharkhand,52364,1658,907,59,5,1050,0,0,0,...,0,0,0,500,0,2561,150,11,17075,45335
16,Karnataka,72504,1636,2225,99,85,1324,0,0,0,...,46,46,0,206,0,31907,18,14,32587,137338
17,Kerala,42294,367,676,84,1433,1347,0,0,0,...,65,59,6,37,0,108962,11,122,55955,206789
18,Lakshadweep,2014,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,30,81
19,Madhya Pradesh,110770,2274,2439,141,72,5076,0,0,0,...,5,3,2,102,0,39259,50,128,127869,272423
20,Maharashtra,92644,2670,2613,171,11,3438,0,0,0,...,33,31,2,780,0,26060,108,102,62286,249834
21,Manipur,20140,96,227,5,0,75,0,0,0,...,1,1,0,78,0,635,3,0,404,3641
22,Meghalaya,22154,159,115,12,0,118,0,0,0,...,0,0,0,135,0,92,0,0,823,3679
23,Mizoram,18126,42,22,6,1,120,0,0,0,...,1,1,0,21,0,20,0,4,146,2140
24,Nagaland,22154,58,56,3,0,30,0,0,0,...,0,0,0,129,0,11,3,0,142,1157
25,Odisha,72504,1450,2345,32,1,1978,0,0,0,...,5,5,0,394,0,4166,42,23,20584,74569
26,Puducherry,4028,25,15,3,0,10,1,0,1,...,4,4,0,9,1,1173,0,0,1336,3584
27,Punjab,56392,767,864,98,46,981,0,0,0,...,0,0,0,29,0,1692,1,76,9378,37162
28,Rajasthan,84588,1637,1794,81,182,3759,3,2,1,...,39,39,0,428,0,14127,14,41,80297,210418
29,Sikkim,10070,12,14,2,0,47,1,0,1,...,0,0,0,4,0,162,0,1,216,1065
30,Tamil Nadu,84588,1805,2922,50,0,455,0,0,0,...,16,16,0,662,1,52844,0,7,84665,193200
31,Telangana,26182,1308,1062,123,1,979,0,0,0,...,18,18,0,171,0,14953,60,10,37013,106830
32,Tripura,18126,140,79,3,0,239,0,0,0,...,0,0,0,12,0,548,0,3,668,5499
33,Uttar Pradesh,153064,5150,5223,1412,506,3467,189,5,184,...,26,25,1,609,0,16199,4,137,66277,240475
34,Uttarakhand,26182,218,171,38,14,270,0,0,0,...,4,3,1,11,0,485,4,6,2230,9156
35,West Bengal,60420,2370,7355,359,525,3409,1,0,1,...,21,21,0,555,131,11680,61,28,60639,193048

In [178]:
from sklearn.cluster import KMeans

num_clusters = 3
km = KMeans(n_clusters=num_clusters)

%time km.fit(g2)

clusters = km.labels_.tolist()
# print(clusters[1])
cluster_items={}
ss=g1["States/UTs"].tolist()

# for i in range(0,36):
#     cluster_items[clusters[i]].append(ss[i])
    

# for i,val in enumerate(clusters):
# #     print(i,val)
#     cluster_items[str(val)].append(g1.loc[i,"States/UTs"])

Wall time: 29 ms

'Andhra Pradesh'

['A&N Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'D&N Haveli',
 'Daman & Diu',
 'Delhi UT',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [155]:
len(clusters)

36

In [171]:
d={"cluster":clusters,"state":g1["States/UTs"]}

In [185]:
new=pd.DataFrame(d)
print(new[(new.cluster==0)])
print(new[(new.cluster==1)])
print(new[(new.cluster==2)])

    cluster           state
4         0           Bihar
17        0          Kerala
19        0  Madhya Pradesh
20        0     Maharashtra
28        0       Rajasthan
30        0      Tamil Nadu
33        0   Uttar Pradesh
35        0     West Bengal
    cluster              state
0         1        A&N Islands
2         1  Arunachal Pradesh
5         1         Chandigarh
7         1         D&N Haveli
8         1        Daman & Diu
10        1                Goa
13        1   Himachal Pradesh
14        1    Jammu & Kashmir
15        1          Jharkhand
18        1        Lakshadweep
21        1            Manipur
22        1          Meghalaya
23        1            Mizoram
24        1           Nagaland
26        1         Puducherry
27        1             Punjab
29        1             Sikkim
32        1            Tripura
34        1        Uttarakhand
    cluster           state
1         2  Andhra Pradesh
3         2           Assam
6         2    Chhattisgarh
9         2        Delhi UT
11        2         Gujarat
12        2         Haryana
16        2       Karnataka
25        2          Odisha
31        2       Telangana